body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 0px 4%;
    padding: 0px;
    background-color: #2F2FA2;
}
ul {
    all: unset;
}
li {
    all: unset;
}
.PetCol img{
    object-fit: cover;
}
.NavBar div{
    font-size: 20px;
    display: inline-block;
    margin: 0;
    padding: 0px;
    color: #D5CDCC;
    height: auto;
    width: auto;
}
.NavBar .Title {
    font-size: 49px;
    margin-left: 2.5%;
    color: #F62C72;
}
.NavBar img{
    height: 100px;
    width: 100px;
}
.NavBar .HomeSelector{
    margin-left: 4.5%;
}
.NavBar .LostSelector{
    margin-left: 4.5%;
}
.NavBar .FAQSelector{
    margin-left: 4.5%;
}
.NavBar .TrialSelector{
    margin-left: 4.5%;
}
.NavBar .TrialSelector span{
    background: linear-gradient(97deg, rgba(253,29,29,1) 0%, rgba(252,145,69,1) 100%);
    height: 60px;
    width: auto;
    padding: 12px
}
.NavBar .AccountSelector {
    color: #F62C72;
    margin-left: 4.5%;
    border: 3px solid #F62C72;
    padding: 11px;
}
.column {
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    width: 40%;
    height: 500px ;
    /* border: 1px solid blue; */
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.columnTitle {
  font-size: 25px;
  margin-top: 19px;
  
}
.LostPets {
    height: auto;
}
.columnTitle span{
    color: #99738E;
    font-weight: bold;
    font-size: 1.3em;
    padding: 4.5px;
    
}
.PetCol {
    float:left;
    width: 40%;
    color: #F62C72;
    font-size: 23px;
}
.PetCol div{
    margin-bottom: 25px;
    
}
.PetCol div span{
    color: whitesmoke;
}
.PetPicture {
    margin-top: 50px;
    height: 280px;
    width: 230px;
}
.FoundPetButton {
    text-align: center;
    color: #99738E;
    background-color: #242582;
    border: 3px solid #553D67;
}
.PetName{
    margin-top: 50px;
}
.LostPetForm{
    margin-top: 50px;
    color: #F62C72;
    margin-left: 43%;
   
}
.LostPetForm label{
    margin-left: 10px
}
.LostPetForm input{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.LostPetForm h3{
    margin: 0px;
    text-decoration: underline;
}

  /* HOVER STATES */
.HomeSelector:hover{
    cursor: pointer;
}
.AccountSelector:hover{
    cursor: pointer;
}
.LostSelector:hover{
    cursor: pointer;
}
.FoundPetButton:hover{
    cursor: pointer;
}
.FAQSelector{
    cursor: pointer;
}
.TrialSelector{
    cursor: pointer;
}
.NavBar .Title:hover{
 cursor: pointer;
}
